.gallery-slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .gallery-slider {
    display: flex;
    padding: 15px;
    transition: transform 0.5s ease-in-out;
  }
  
  .gallery-slider img {
    /* width: 100%; */
    margin-left: 20px;
    margin-right: 20px;
    width: 30vw;
    height: 35vh;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #333;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    .gallery-slider img {
      width: 100%;
    }
  }
  