.crud{
    text-align: center;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .crud h1{
    margin: 30px 0;
  }
  .create-section{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .create-section button{
    margin-top: 23px;
  }
  .table-box{
    width: 90vw;
    overflow-x: scroll;
  }
  table {
    width: 95%;
    border-collapse: collapse;
    margin: 30px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* div {
    margin-top: 20px;
  } */
  
  label {
    margin-right: 10px;
  }
  
  input {
    margin-right: 10px;
  }
  
  table button {
    cursor: pointer;
    margin-right:5px ;
    margin-bottom: 5px;
  }
  