.blog1{
    width: 100vw;
    
}
.blog-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}
.blog-content h3{
    font-size: xx-large;
}
.blog-content img{
    height: 50vh;
}
.blog-content p{
    font-size: large;
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 550px) {
    .blog-content img{
        width: 60vw;
        height: 40vh;
    }
  }