/* ChatBox.css */
.chat-box {
  position: fixed;
  bottom: 80px;
  right: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 20vw;
  /* height: 40vh; */
}

.chat-box.visible {
  transform: translatex(0);
}

.chat-box.hidden {
  transform: translatex(100%);
}
.chat-toggle {
  cursor: pointer;
  position: absolute;
  top: 0;
  /* bottom: 110px; */
  right: 20vw;
  margin: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-icon {
  color: #fff;
  font-size: 18px;
}
.chat-header {
  background-color: #007bff;
  color: #fff;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.chat-body {
  display: flex !important;
  padding: 8px;
  flex-direction: column;
}
.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 70%;
  margin: 8px;
  padding: 10px;
  border-radius: 8px;
}

.received {
  background-color: #e5e5ea;
  align-self: flex-start !important;
}
.chatbot-icon {
  margin-right: 8px;
}
.sent {
  background-color: #007bff;
  color: #fff;
  align-self: flex-end !important;
}

.message-input {
  padding: 10px;
  border-top: 1px solid #ccc;
  display: flex;
}

.message-input input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
@media (max-width: 1200px) {
  .chat-box {
    width: 30vw;
  }
  .chat-toggle {
    right:30vw;
  }
}
@media (max-width: 800px) {
  .chat-box {
    width: 40vw;
  }
  .chat-toggle {
    right:40vw;
  }
}
@media (max-width: 600px) {
  .chat-box {
    width: 50vw;
  }
  .chat-toggle {
    right:50vw;
  }
}
@media (max-width: 460px) {
  .chat-box {
    width: 60vw;
  }
  .chat-toggle {
    right:60vw;
  }
}