footer{
    width: 100vw;
    /* position: fixed; */
    bottom: 0;
    padding: 0;
    margin: 0;
}
.foot1{
    display: flex;
    flex-direction: row;
    width: 96vw;
    margin: 2vw 2vw 0vw 2vw;
    background-color: #0d0d0d;
    color: #fff;
    border-radius: 5px;
}
.icons{
    display: flex;
    align-items: center;
    /* justify-content: center; */    
}
.drop-img{
    height: 70px;
    width: 70px;
    margin-left: 0;
}
.foot-logo{
    color: #3cc7F5;
    font-size: larger;
    /* margin-left: -24px; */
    font-size: x-large;
    font-weight: bolder;
}
.jal, .quick-links , .support, .contact{
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    width: 35vw;
}
.quick-links h3{
    margin-bottom: 5px;
}
.support h3{
    margin-bottom: 6px;
}
.contact h3{
    margin-bottom: 10px;
}

.quick-links a{
    /* color: gray;  */
    text-decoration: none;
    margin: 5px; 
    color: #fff;
}
.support a{
    text-decoration: none;
    margin: 10px;
    color: #fff;
}
.footer-logo{
    display: flex;
    flex-direction: row;
    
}
.footer-logo li{
   padding-left: 15px;
   padding-top: 30px;
    list-style-type: none;
    color: #fff;
}
  .contact-item {
    display: flex;
    align-items: center;
    margin: 7px 5px;
  }
  
  .contact-item img{
    margin-right: 20px;
  }
.fb-logo{
    height: 28px;
    width: 28px;
}

.foot2{
    border-top: 1px solid #3cc7F5;
    flex-direction: column;
    height: 40px;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96vw;
    margin:  0vw 2vw 2vw 2vw;
    background-color: #0d0d0d;
    color: #fff;
    /* border-radius: 5px; */
}

@media screen and (max-width: 900px) {
    .foot1{
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .jal{
        width: 80vw;
    }

    .quick-link{
        width: 80vw;
    }

    .support{
        width: 80vw;
    }

    .contact{
        width: 80vw;
    }
}