.nav-container{
  background-color: #0d0d0d !important;
  height: 65px;
}
.menu-icon1{
  display: none !important;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo-img{
  width: 130px;
  height: auto;
}
.logo-text {
  margin-left: -45px !important;
  font-size: 1.2rem;
}

.navbar-links-container1 {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.navbar-links-container1 a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.support-dropdown{
 margin-top: 5.5px !important;
 font-size: 15px;
}
.dropdown-container {
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  padding: 10px;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 20px;
}

/* Responsive styles for smaller screens */
@media (max-width: 900px) {
  .navbar-links-container1 {
    display: none;
  }
  .menu-icon1{
    display:inherit !important;
  }
  .MuiDrawer-paper {
    width: 200px; 
  }
  .support-dropdown{
    margin-left: 12px;
    margin-top: 3px;
  }
  .dropdown-container {
    display: block;
  }

  .dropdown-container .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #8faec9;
    color: #FFF !important;
    padding: 10px;
    display: none;
  }

  .dropdown-container:hover .dropdown-content {
    display: block;}
}

