.past {
    text-align: center;
  }
  .past-headings{
    width: 100%;
    /* margin-top: -60px; */
    margin-top: 40px;
  }
  .pastlarge-heading {
    font-size: 5rem; 
    text-transform: uppercase;
    color: #ddd; 
  }
  
  .pastsmall-heading {
    font-size: 1.5rem; 
    text-transform: uppercase;
    color: #0C8AE4; 
    margin-top: -49px;
    font-weight: bolder;
  }
  .pastblog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .blog-card {
    width: 29%;
    margin: 20px 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 20px;
  }
    .blog-card:hover {
      transform: scale(1.05);
    }
  
    .blog-card img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      overflow: hidden;
    }
  
    .blog-card h2 {
      margin: 20px 10px;
    }
  
    .blog-card p {
      margin: 0 10px;
    }
  
    .author {
      display: flex;
      align-items: center;
      margin: 20px;
      height: 50px;
    
    }
      .author img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
      }
     .author-desc{
        display: flex;
        justify-content:left;
        align-items: center;
        flex-direction: column;
     }
      .author span {
        font-weight: bold;
      }
    
      .attendees {
        display: flex;
        align-items: center;
        margin: 10px;
        justify-content: space-between;
      }
      .attendees a{
        text-decoration: none;
        color: #0d0d0d;
        font-weight: bold;
        font-size: 20px;
      }
       .date-time img{
          margin-right: 5px;
          height: 30px;
          width: 30px;
        }
  
  /* Responsive CSS */
  
  @media (max-width: 1200px) {
    .blog-card {
      width: 45%;
    }
  }
  
  @media (max-width: 768px) {
    .blog-card {
      width: 100%;
    }
  }
  @media (max-width:1030px) {
    .past-headings{
      height: 120px;
    }
  
    .pastlarge-heading{
      font-size: 3rem;
    }
    .pastsmall-heading{
      margin-top: -35px;
    }
  }
  @media (max-width:500px) {
    .past-headings{
      height: 90px;
    }
    .pastlarge-heading{
      font-size: 2rem;
    }
    .pastsmall-heading{
      margin-top: -25px;
      font-size: 1rem;
    }}
  