.video-section {
  position: relative;
  overflow: hidden;
  width: 100%;
}
/* .vid{
  height:100vh ;
} */
video {
  width: 100vw;
  /* height: 70%;  */
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:center;
  color: black;
   margin-top: 80px;
  /*position: relative;
  z-index: 1; 
  color: #fff; 
  text-align: center;
  padding: 20px; */
}


.text-overlay h1 {
  font-size: 3rem;
  /* margin-bottom: 100px; */
  /* margin-bottom: 20px; */
}

.text-overlay p {
  font-size: 1.5rem;
}

/* Responsive CSS */
@media (max-width: 1187px) {
  .text-overlay {
    top: 30%;
    left: 50%;
  }
}

@media (max-width: 768px) {
  .text-overlay {
    top: 28%;
    width: 90%;
  }

  .text-overlay h1 {
    font-size: 2.5rem;
  }

  .text-overlay p {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  .text-overlay {
    width: 90%;
    top: 15%;
  }

  .text-overlay h1 {
    font-size: 2rem;
  }

  .text-overlay p {
    font-size: 1rem;
  }
}
@media (max-width: 511px) {
  .text-overlay {
    width: 90%;
    top: 8%;
  }
}


