.working-process{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.working-container {
width: 100%;
position: relative;
text-align: center;
}

.working-icon {
 display: flex;
 justify-content:center ;
 align-items: center;
margin-top: 20px; 
}

.headings{
  width: 100%;
  margin-top: -60px; 
}
.large-heading {
  font-size: 5rem; 
  text-transform: uppercase;
  color: #ddd; 
}

.small-heading {
  font-size: 1.5rem; 
  text-transform: uppercase;
  color: #0C8AE4; 
  margin-top: -50px;
  font-weight: bolder;
}
.steps{
  margin-top: 60px;
  width: 100vw;
  background-image: url('/public/img/workingProcess-line.svg');
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat; 
}

.steps-container {
  width: 100vw;
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cards {
  width: 300px; 
  padding: 20px;
  border: 1px solid #ccc;
  /* border-radius: 8px; */
  text-align: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  height: 12rem
}

.card-heading {
  padding: 10px;
  color: #fff;
  margin: 0;
}

.card-paragraph {
  margin: 10px 0;
}

@media (max-width:1030px) {
  .headings{
    height: 120px;
    
  }
  .large-heading{
    font-size: 3rem !important;
  }
  .small-heading{
    margin-top: -35px;
  }
}
@media (max-width:500px) {
  .headings{
    height: 90px;
    margin-top: 20px;
  }
  .large-heading{
    font-size: 2rem !important;
  }
  .small-heading{
    margin-top: -25px;
    font-size: 1rem;
  }}
